In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('datasets/covid_19_data.csv',parse_dates=['Last Update'])

In [3]:
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
6157,6158,03/16/2020,Cayman Islands,UK,2020-03-16 14:53:04,1.0,1.0,0.0
6158,6159,03/16/2020,Gibraltar,UK,2020-03-14 16:33:03,1.0,0.0,1.0
6159,6160,03/16/2020,Diamond Princess cruise ship,Australia,2020-03-14 02:33:04,0.0,0.0,0.0
6160,6161,03/16/2020,West Virginia,US,2020-03-10 02:33:04,0.0,0.0,0.0
6161,6162,03/16/2020,NaN,occupied Palestinian territory,2020-03-11 20:53:02,0.0,0.0,0.0

In [4]:
df.rename(columns={'ObservationDate':'Date', 'Country/Region':'Country'}, inplace=True)

In [5]:
df

,SNo,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
6157,6158,03/16/2020,Cayman Islands,UK,2020-03-16 14:53:04,1.0,1.0,0.0
6158,6159,03/16/2020,Gibraltar,UK,2020-03-14 16:33:03,1.0,0.0,1.0
6159,6160,03/16/2020,Diamond Princess cruise ship,Australia,2020-03-14 02:33:04,0.0,0.0,0.0
6160,6161,03/16/2020,West Virginia,US,2020-03-10 02:33:04,0.0,0.0,0.0
6161,6162,03/16/2020,NaN,occupied Palestinian territory,2020-03-11 20:53:02,0.0,0.0,0.0

In [6]:
df_date = df.groupby(["Date"])[['Confirmed', 'Deaths', 'Recovered']].sum().reset_index()

In [7]:
df_date

          Date  Confirmed  Deaths  Recovered
0   01/22/2020      555.0    17.0       28.0
1   01/23/2020      653.0    18.0       30.0
2   01/24/2020      941.0    26.0       36.0
3   01/25/2020     1438.0    42.0       39.0
4   01/26/2020     2118.0    56.0       52.0
5   01/27/2020     2927.0    82.0       61.0
6   01/28/2020     5578.0   131.0      107.0
7   01/29/2020     6165.0   133.0      126.0
8   01/30/2020     8235.0   171.0      143.0
9   01/31/2020     9925.0   213.0      222.0
10  02/01/2020    12038.0   259.0      284.0
11  02/02/2020    16787.0   362.0      472.0
12  02/03/2020    19881.0   426.0      623.0
13  02/04/2020    23892.0   492.0      852.0
14  02/05/2020    27636.0   564.0     1124.0
15  02/06/2020    30818.0   634.0     1487.0
16  02/07/2020    34392.0   719.0     2011.0
17  02/08/2020    37121.0   806.0     2616.0
18  02/09/2020    40151.0   906.0     3244.0
19  02/10/2020    42763.0  1013.0     3946.0
20  02/11/2020    44803.0  1113.0     4683.0
21  02/12/2020    45222.0  1118.0     5150.0
22  02/13/2020    60370.0  1371.0     6295.0
23  02/14/2020    66887.0  1523.0     8058.0
24  02/15/2020    69032.0  1666.0     9395.0
25  02/16/2020    71226.0  1770.0    10865.0
26  02/17/2020    73260.0  1868.0    12583.0
27  02/18/2020    75138.0  2007.0    14352.0
28  02/19/2020    75641.0  2122.0    16121.0
29  02/20/2020    76199.0  2247.0    18177.0
30  02/21/2020    76843.0  2251.0    18890.0
31  02/22/2020    78599.0  2458.0    22886.0
32  02/23/2020    78985.0  2469.0    23394.0
33  02/24/2020    79570.0  2629.0    25227.0
34  02/25/2020    80415.0  2708.0    27905.0
35  02/26/2020    81397.0  2770.0    30384.0
36  02/27/2020    82756.0  2814.0    33277.0
37  02/28/2020    84124.0  2872.0    36711.0
38  02/29/2020    86013.0  2941.0    39782.0
39  03/01/2020    88371.0  2996.0    42716.0
40  03/02/2020    90309.0  3085.0    45602.0
41  03/03/2020    92844.0  3160.0    48229.0
42  03/04/2020    95124.0  3254.0    51171.0
43  03/05/2020    97886.0  3348.0    53797.0
44  03/06/2020   101800.0  3460.0    55866.0
45  03/07/2020   105836.0  3558.0    58359.0
46  03/08/2020   109835.0  3803.0    60695.0
47  03/09/2020   113582.0  3996.0    62512.0
48  03/10/2020   118582.0  4262.0    64404.0
49  03/11/2020   125865.0  4615.0    67003.0
50  03/12/2020   128343.0  4720.0    68324.0
51  03/13/2020   145193.0  5404.0    70251.0
52  03/14/2020   156099.0  5819.0    72624.0
53  03/15/2020   167447.0  6440.0    76034.0
54  03/16/2020   181546.0  7126.0    78088.0